<div class="row">
    <div class="form-froup col-sm-6">
        <label for="judul">Judul</label>
        <input type="text" name="judul" class="form-control" required>    
    </div>
    <div class="form-froup col-sm-6">
        <label for="author">Author</label>
        <input type="text" name="author" class="form-control" required>    
    </div>
    <div class="form-froup col-sm-12">
        <label for="konten">Konten</label>
        <input type="text" name="konten" class="form-control" required>    
    </div>
</div><br>
<a href="/artikel" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Tambah</button>

